h1{
    color:orangered;
}
p{
    color:orangered;
    font-size:16px;
    font-weight:bold;
}
div{
    border-style:solid;
    border-color:black;
    border-width:2px;
    border-radius:16px;
    margin:10px;
    padding:10px;
    background-color:lightblue;
}