@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.nw-bg-cntr {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height: 100vh;
}

.nw-crd {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    padding: 10px;
    background-color: #ffffff;
}

.nw-crd-h {
    font-size: 20px;
    color: #323f4b;
    height: 50px;
    width: 325px;
    font-family: Roboto;
    font-weight: bold;
}

.nw-crd-p {
    color: #7b8794;
    font-size: 12px;
    font-family: Roboto;
}

.nw-crd-b {
    border-radius: 5px;
    border-width: 0px;
    height: 36px;
    width: 100px;
    color: #ffffff;
    background-color: #323f4b;
}